
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>News</h2>
    <p>
        <a target="_blank" href="https://www.irs.gov/uac/newsroom/security-summit-alert-new-two-stage-email-scheme-targets-tax-professionals" class="title">Security Summit Alert: New Two-Stage E-mail Scheme Targets Tax Professionals</a><br> IR-2017-03, Jan. 11, 2017 – The IRS, state tax agencies and tax industry leaders today warned tax professionals to be alert to an email scam from cybercriminals posing as clients soliciting their services.

    </p>

    <p>
        <a target="_blank" href="https://www.irs.gov//uac/newsroom/national-taxpayer-advocate-delivers-annual-report-to-congress-urges-irs-reform-and-tax-reform" class="title">National Taxpayer Advocate Delivers Annual Report to Congress; Urges IRS Reform and Tax Reform</a><br> IR-2017-02, Jan. 10, 2017—  National Taxpayer Advocate Nina E. Olson today released her 2016 annual report to Congress, recommending that the IRS revamp its “Future State” plan to adopt a taxpayer-centric focus and urging Congress to emphasize simplification when it considers tax reform later this year.
    </p>
    <p>
        <a target="_blank" href="https://www.irs.gov//uac/newsroom/irs-and-partners-look-to-start-of-2017-tax-season-encourage-use-of-irsgov-and-efile-warn-of-refund-delays" class="title">IRS and Partners Look to Start of 2017 Tax Season;  Encourage use of IRS.gov and e-File; Warn of Refund Delays </a><br> IR-2017-01, Jan. 5, 2017 — The IRS and partners from the states and tax industry today reminded taxpayers that the nation’s 2017 individual income tax filing season opens Jan. 23.

    </p>
    <p>
        <a target="_blank" href="https://www.irs.gov//uac/irs-offers-free-tax-help-2016" class="title">IRS Offers Free Tax Help</a><br> IR-2016-175, Dec. 29, 2016 — As tax filing season approaches, the IRS reminds taxpayers that free tax help is available online, by phone and in-person.
    </p>

    <p>
        <a target="_blank" href="https://www.irs.gov//uac/newsroom/tax-professionals-provide-insights-on-irs-future-state-feedback-efforts-continue-in-2017-as-online-account-shows-strong-early-use" class="title">Tax Professionals Provide Insights on IRS Future State; Feedback Efforts Continue in 2017 as Online Account Shows Strong Early Use</a><br> IR-2016-174, Dec. 21, 2016 — As part of ongoing efforts to receive feedback from the tax community and partner groups, the IRS today said tax professionals attending the Nationwide Tax Forums this year highlighted a number of areas to help the agency shape Future State efforts to improve taxpayer service.
    </p>


    <p>
        <a target="_blank" href="https://www.irs.gov//uac/many-itins-expire-jan-1-renew-now-to-avoid-refund-delays" class="title">Many ITINs Expire Jan. 1; Renew Now to Avoid Refund Delays, IRS Says </a><br> IR-2016-173, Dec. 21, 2016 — Time is running out for many ITIN holders who need to file a federal income tax return in 2017 and want to avoid a long wait for a refund, according to the IRS.

    </p>

    <p>
        <a target="_blank" href="https://www.irs.gov//uac/tax-preparedness-series-irs-face-to-face-help-now-by-appointment" class="title">Tax Preparedness Series: IRS Face-To-Face Help Now By Appointment</a><br> IR-2016-172, Dec. 20, 2016 — As the tax filing season approaches, the IRS reminds taxpayers that an appointment is required for in-person tax help at all IRS Taxpayer Assistance Centers.

    </p>
    <p>
        <a target="_blank" href="https://www.irs.gov//uac/tax-preparedness-series-plan-now-to-get-full-benefit-of-saver-s-credit" class="title">Tax Preparedness Series: Plan Now to Get Full Benefit of Saver’s Credit; Tax Credit Helps Low- and Moderate-Income Workers Save for Retirement</a><br> IR-2016-171, Dec. 15, 2016 — As the tax filing season approaches, the IRS  reminds low- and moderate-income workers that they can take steps now to save for retirement and earn a special tax credit in 2016 and years ahead.
    </p>

    <p>
        <a target="_blank" href="https://www.irs.gov//uac/tax-preparedness-series-what-to-do-before-the-tax-year-ends-dec-31" class="title">Tax Preparedness Series: What to Do Before The Tax Year Ends Dec. 31</a><br> IR-2016-170, Dec. 14, 2016 — As tax filing season approaches, the IRS is reminding taxpayers there are things they should do now to get ready for filing season.

    </p>
    <p>
        <a target="_blank" href="https://www.irs.gov//uac/2017-standard-mileage-rates-for-business-and-medical-and-moving-announced" class="title">2017 Standard Mileage Rates for Business, Medical and Moving Announced</a><br> IR-2016-169, Dec.13, 2016 — The IRS today issued the 2017 optional standard mileage rates used to calculate the deductible costs of operating an automobile for business, charitable, medical or moving purposes.

    </p>
</div>
