
@{
    ViewBag.Title = "Business Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h2>Services for Business</h2>
    We provide full range of accounting and tax services for businesses.

    <h3>Business Formation and Dissolution</h3>

    <p>
        We provide business setup consulting service to help you establish the most appropriate business type and structure, register your
        business tax and required licenses, and develop tax saving strategies for your business.
    </p>

    <p>
        We form corporations(C corp and S corp), partnerships & LLCs in all 50 states. If you are forming a new business, we also help you set up
        your books and advice of all required tax filings.
    </p>

    <h3>Income Tax (federal and all state filings)</h3>

    <p>We serve clients of C and S corporations, partnerships (LP, LLP, LLC), Sole Proprietorships.</p>

    <p>We prepare business tax returns in all 50 states.</p>

    <p>We guarantee the good quality work, take care of all of the follow-up procedure and correspondences with tax authority.</p>

    <h3>Payroll and Employment Tax</h3>

    <p>
        As your business grows, it must hire more employees, which can result in increased payroll administration.
        We can assist you in implementing the controls necessary to ensure a reliable, efficient, and effective payroll
        solution. Our firm can also help you develop a payroll system and prepare all of the necessary payroll tax returns
        in a timely manner.
    </p>

    <h3>Tax Audit Representation</h3>

    <p>
        During our years of experience dealing with many taxing authorities, we have achieved a level of competence
        that can ensure our clients that they are being properly represented before the various state and federal agencies.
    </p>

    <h3>Bookkeeping /Accounting Services</h3>

    <p>We provide full bookkeeping and accounting services for businesses, includes:</p>
    <ul>
        <li>Record keeping</li>
        <li>Reconcile your bank account</li>
        <li>Maintenance of fixed assets and depreciation schedules</li>
        <li>Journal Entries, General ledger, trial balance,</li>
        <li>Bookkeeping (monthly/quarterly/annually)</li>
        <li>Generate financial statements</li>
    </ul>
</div>

