
@{
    ViewBag.Title = "Resolution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Tax Problems Resolution</h2>

    <h3>IRS Audit Representation</h3>
    <p>We handle it all for you so that you need not take time off of your job to handle the bureaucracy and paperwork of the IRS.</p>

    <h3>Non-Filed Tax Returns</h3>
    <p>We could help you find out a better way to explain the reason of non-filed returns. </p>

    <h3>Back Taxes Owed</h3>
    <p>It's amazing how fast tax penalties and interest add up. Luckily, we offer several options when it comes to resolving unpaid taxes.</p>

    <h3>Payroll Tax Problems</h3>
    <p>The IRS views failing to pay payroll taxes as the cardinal sin of tax delinquency because a large portion of the payroll taxes are your employees' withholdings.	</p>
</div>

