
@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Disclaimer</h2>

    <h3>No Rendering of Advice</h3>

    <p>The information contained within this website is provided for informational purposes only and is not intended to substitute for obtaining accounting, tax, or financial advice from a professional accountant.</p>

    <p>Presentation of the information via the Internet is not intended to create, and receipt does not constitute, an accountant-client relationship. Internet subscribers, users and online readers are advised not to act upon this information without seeking the service of a professional accountant.</p>

    <p>Any U.S. federal tax advice contained in this website is not intended to be used for the purpose of avoiding penalties under U.S. federal tax law.</p>

    <h3>Accuracy of Information</h3>
    <p>While we use reasonable efforts to furnish accurate and up-to-date information, we do not warrant that any information contained in or made available through this website is accurate, complete, reliable, current or error-free. We assume no liability or responsibility for any errors or omissions in the content of this website or such other materials or communications.</p>

    <h3>Disclaimer of Warranties and Limitations of Liability</h3>
    <p>This website is provided on an “as is” and “as available” basis. Use of this website is at your own risk. We and our suppliers disclaim all warranties. Neither we nor our suppliers shall be liable for any damages of any kind with the use of this website.</p>

    <h3>Links to Third Party Websites</h3>
    <p>For your convenience, this website may contain hyperlinks to websites and servers maintained by third parties. We do not control, evaluate, endorse or guarantee content found in those sites. We do not assume any responsibility or liability for the actions, products, services and content of these sites or the parties that operate them. Your use of such sites is entirely at your own risk.</p>

    <h3>IRS Circular 230 Disclosure</h3>

    <p>To ensure compliance with requirements imposed by the IRS, we inform you that any U.S. federal tax advice contained in this communication (including any attachments) is not intended or written to be used, and cannot be used, for the purpose of (I) avoiding penalties under the <a href="http://www.irs.gov/">Internal Revenue Service</a> (II) promotion, marketing or recommending to another party any transaction or matter addressed herein.</p>

    <p>This is not a solicitation for sale of securities in any jurisdiction.</p>
</div>

