
@{
    ViewBag.Title = "Email Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <center>
        <h2>Thank you for contacting us. You will hear from us soon!</h2>
        <p><a href="/">Go to home page</a></p>
    </center>
</div>
