@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>Shannon Cai CPA Firm</h1>
    <p class="lead">We are a full-service Accounting firm licensed in New Jersey. We offer a broad range of services for business owners, executives, and independent professionals. We are affordable, experienced, and friendly.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    @*<div class="col-md-4">
        <h2>Our Value</h2>
        <p>
            You will be pleasantly surprised! We provide professional services for a reasonable and honest fee. Overall, you may spend less with for quality and professional services than you will spend with a do-it-yourself tax software or with a large commercial outlet.Just give us a call and we could achieve a completely paperless tax workflow— from initial client data collection to e-fling returns and getting paid.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>*@
    <div class="col-md-4">
        <h2>@Html.ActionLink("Services for Individuals", "Individual", "Services")</h2>
        <p>Whether you like it or not, today's tax laws are so complicated that filing a relatively simple return can be confusing. Preparing your own income tax return can be a task that leaves you with more questions than answers.  It is just too easy to overlook deductions and credits to which you are entitled. Even if you use a computer software program there's no substitute for the assistance of an experienced tax professional.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Services for Business", "Business", "Services")</h2>
        <p>Our goal is to assist businesses with their accounting / bookkeeping and tax compliance needs. Our services allow you to focus on generating revenue and perform core business functions while allowing us to perform back-office tasks, month-end closings and file tax returns.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Responsiveness", "Contact", "Home")</h2>
        <p>We care. You will be dealing with a family member and owner from your first phone call. Our office is open 7 days a week, throughout the whole year. We are here when you need us.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>