
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Privacy Policy</h2>
    <h3>Here is our Privacy Policy required by the Gramm-Leach-Bliley Act of 1999.</h3>

    <p>We collect nonpublic personal information about you from the following sources:</p>
    <ul>
        <li>Information we receive from you on applications, tax organizers, worksheets and other documents;</li>
        <li>Information about your transactions with us, our affiliates, or others;</li>
        <li>Information we receive from a consumer-reporting agency.</li>
    </ul>

    <strong>We do not disclose any nonpublic personal information about our clients or former clients to anyone, except as permitted by law.</strong>

    <p>We restrict access to nonpublic personal information about you to those members of our firm who need to know that information to provide services to you. We maintain physical, electronic, and procedural safeguards that comply with federal regulations to guard your nonpublic personal information.</p>

    <p>If you have any questions about this policy, please do not hesitate to contact us.</p>
</div>
